<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fb_scrapping</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
    <div class="login-box">
        <h2>Facebook Page Scraper</h2>
        <p> Please type an existing facebook page name !</p>
        <form method="post" id="_form">
        <div class="user-box">
            <input type="text" name="name" value=""/>
            <label>Page Name:</label>
        </div>
        <a href="#" onclick="document.getElementById('_form').submit()" >  Start Scraping
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </a>
        </form>
        <p>{{ result }}</p>

    </div>
</body>
</html>